<div class="container">
  <h2>Data</h2>

  <%= paginate @shares %>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th width="15%">ID</th>
        <th width="25%">File</th>
        <th width="25%">Last Edited</th>
        <th width="35%"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @shares.each do |share| %>
        <tr>
          <td>
            <%= share.id %>
          </td> 
          <td>
            <%= link_to share.name, "/share/#{share.id}" %>
          </td>
          <td>
            <%= share.timestamp.in_time_zone("Central Time (US & Canada)").strftime( "%m/%d/%Y - %I:%M%p") %>
          </td>
          <td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
